
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif
}

body {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 1200px;
    width: 100%;
    text-align: center;
    color: white;
}

main h1 {
    font-size: 2.2em;
    margin-bottom: 30px;
    margin-top: 30px;
}

.subtitle {
    font-size: 1.1em;
    color: #DDE1FF;
    margin-bottom: 40px;
}


.container {
    display: grid;
    grid-template-columns:  1fr;
    gap: 25px;
}
.A, .C {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
}
.B {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}
.D{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  
}

.card_1 {
    border: 4px solid transparent;
    border-bottom:none;
    border-right: none;
    border-radius: 20px;
    color: #333;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(white) padding-box, 
    linear-gradient(to right, #ff6b6b, #45b7d1, #45b7d1,#f9ca24) border-box !important;
}
.card_2, .card_3{
    border: 4px solid transparent;
    border-bottom:none;
    border-right: none;
    border-radius: 20px;
    color: #333;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(white) padding-box, 
    linear-gradient(to right, #63D1D0, #ff6b6b, #45b7d1, #45b7d1,#f9ca24) border-box !important;
}
.card_4 {
    border: 4px solid transparent;
    border-bottom:none;
    border-right: none;
    border-radius: 20px;
    color: #333;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(white) padding-box, 
    linear-gradient(to right, #f9ca24, #45b7d1, #45b7d1,#f9ca24) border-box !important;
}
.card_5{
    border: 4px solid transparent;
    border-bottom:none;
    border-right: none;
    border-radius: 20px;
    color: #333;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(white) padding-box, 
    linear-gradient(to right, #A864E5, #45b7d1, #45b7d1,#f9ca24) border-box !important;
}
.card_6{
    border: 4px solid transparent;
    border-bottom:none;
    border-right: none;
    border-radius: 20px;
    color: #333;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(white) padding-box, 
    linear-gradient(to right, #25E08C, #45b7d1, #45b7d1,#f9ca24) border-box !important;
}
.card_7{
    border: 4px solid transparent;
    border-bottom:none;
    border-right: none;
    border-radius: 20px;
    color: #333;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(white) padding-box, 
    linear-gradient(to right, #CF8714, #45b7d1, #45b7d1,#f9ca24) border-box !important;
}
.card_1:hover,.card_2:hover,.card_3:hover,.card_4:hover,.card_5:hover,.card_6:hover, .card_7:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.profile_flex{
    display: flex;
}
.profile_column{
    display: flex;
    flex-direction: column;
}
.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    /* border: solid red; */
    justify-content: space-between;
}

.card-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.card-header h3 {
    margin: 0;
    font-size: 1.2remm;
    color: #333;
}

.card-header p {
    font-size: 0.9em;
    color: #777;
}


.text {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #555;
}

.stars {
    color: #ffd700;
    font-size: 1.2rem;
    justify-content: end;
}

@media(max-width: 768px) {
    main h1 {
        font-size: 1.8em;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 20px;
    }

    .A,
    .B,
    .C{
        display: grid;
        grid-template-columns: 1fr; 
        gap: 20px;
        justify-items: center;
    }
    .card_7{
        width: 724px
    }
    }

    @media(max-width: 425px) {
    
    .card_7{
        width: 380px
    }
    card_1,
    .card_2,
    .card_3,
    .card_4,
    .card_5,
    .card_6,

    .card-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile_flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    }
    @media(max-width: 375px) {
    
    .card_7{
        width: 340px
    }
    main h1{
        font-size: 2rem;
    }
    }
    @media(max-width: 320px) {
    
    .card_7{
        width: 290px

    }
    
    }




